
#slider {
    position: relative;
    margin: 0 auto;
    width: 80%;
    background: #212530;
}

#slider-header{
    display: block;
    height: 40px;
    background:linear-gradient(#9b0978, #5f0946) ;
}
#slider-footer{
    padding: 1px;
    display: block;
    background: #353451;
}

#wrapOfSlider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    height: 400px;
}
/* header style block */

#clickFile {
    display: inline-block;
    margin: 6px 20px;
    padding: 4px 10px;
    font:0.8em Arial sans-serif;
    font-weight: bold;
    background: #31ff11;
    border-radius: 2px;
}

/* end header style block */

/* main block if slider */
#slider__container {
    height: 100%;
    position: relative;
}

.slider__slider {
    float: left;
    height: 100%;
    position: relative;
    background: #000;
}

.slider__slider img {
    font-size: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*  end main block if slider */


/* footer slider block */
#slider__button, #slider__pagination {
    color: #aaaaaa;
    text-align: center;

}

#slider__button > *, #slider__pagination > * {
    display: inline-block;
    margin: 2px;
    padding: 3px 6px;
    background: #332445;
    border-radius: 6px;
}

/* style of next prev button */
#slider__button{
    background: #262238;
    height: 40px;
}
#slider__nextBlock, #slider__prevBlock{
    position: absolute;
    top: 40px;
    background: #41234c;
    width: 50px;
    height: 400px;
}
#slider__prevBlock:after, #slider__nextBlock:after{
    color: wheat;
    display: block;
    transform:  translate(0, 200px) rotate(270deg);
    font-size:1.6em;
}
#slider__prevBlock:hover, #slider__nextBlock:hover{
    background: #645992;
}
#slider__prevBlock{
    left: 0;
}
#slider__prevBlock:after{
    content: "Prev";
}
#slider__nextBlock{
    right:0;
}
#slider__nextBlock:after{
    content: "Next ";
}
#slider__prev, #slider__next {
    margin:8px;
}

#slider__prev:after {
    content: "<- Prev";
}

#slider__next:after {
    content: "Next ->";
}

#slider__button > *:hover, #slider__pagination > *:hover {
    background: #484848;
    transition: background 1s ease-out;
    color: #c5ccf5;
}
/* end style of next prev button */

/* block of opacity style */
#slider__opacity {
    width: 200px;
    margin: auto;
}

.opacity__block {
    border: 3px solid #360000;
    border-radius: 25px;
    width: 80%;
    height: 10px;
    margin: 10px 10%;
    background: #78758c;
    position: relative;
    overflow: hidden;
}

.opacity__circle {
    position: absolute;
    width: 100%;
    font-size: 0;
    border: 6px solid #c0d8f0;
    background: #1e2339;
    border-radius: 6px;
}

.slider__wrapper-container {
    position: absolute;
    z-index: 2;
    height: 100%;
    box-sizing: border-box;
    border-right: 5px solid #0f1574;
}

.slider__container--opacity {
    background: rgba(48, 48, 48, 0.51);
    height: 100%;
}
/* end  block of opacity style */

/* pagination block */
.slider__pagination{
    height:200px;
}
.paginationImageBlock{
    height:100px;
    width: 200px;
}
/* end  pagination block */


/* end  footer slider block */