
#slider {
    padding: 1px;
    position: relative;
    margin: 0 auto;
    width: 80%;
    background: #303030;
}

#slider-header{
    display: block;
    height: 40px;
    background: #4f5462;
}
#slider-footer{
    display: block;
    background: #4f5462;
}

#wrapOfSlider {
    position: relative;
    margin: 15px auto;
    padding: 1px;
    overflow: hidden;
    width: 80%;
    height: 400px;
}
/* header style block */

#clickFile {
    display: inline-block;
    margin: 6px 20px;
    padding: 4px 10px;

    font:0.8em Arial sans-serif;
    font-weight: bold;

    background: #31ff11;
    border-radius: 2px;
}

/* end header style block */

/* main block if slider */
#slider__container {
    height: 100%;
    position: relative;
}

.slider__slider {
    float: left;
    height: 100%;
    position: relative;
    background: #000;
}

.slider__slider img {
    font-size: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*  end main block if slider */


/* footer slider block */
#slider__button, #slider__pagination {
    color: #0a00ff;
    text-align: center;

}

#slider__button > *, #slider__pagination > * {
    display: inline-block;
    margin: 2px;
    padding: 3px 6px;
    background: #cdff58;
    border-radius: 6px;
}

/* style of next prev button */
#slider__button{
    background: #434651;
    height: 40px;
}
#slider__prev, #slider__next {
    margin:8px;
}

#slider__prev:after {
    content: "<- Prev";
}

#slider__next:after {
    content: "Next ->";
}

#slider__button > *:hover, #slider__pagination > *:hover {
    background: #291aff;
    transition: background 1s ease-out;
    color: #c5ccf5;
}
/* end style of next prev button */

/* block of opacity style */
#slider__opacity {
    width: 200px;
    margin: auto;
}

.opacity__block {
    border: 2px solid red;
    border-radius: 25px;
    width: 80%;
    height: 10px;
    margin: 10px 10%;
    background: #b6cee6;
    position: relative;
    overflow: hidden;
}

.opacity__circle {
    position: absolute;
    width: 100%;
    font-size: 0;
    border: 6px solid yellow;
    background: #1e2339;
    border-radius: 6px;
}

.slider__wrapper-container {
    position: absolute;
    z-index: 2;
    height: 100%;
    box-sizing: border-box;
    border-right: 5px solid yellow;
    padding: 1px;
}

.slider__container--opacity {
    background: rgba(48, 48, 48, 0.51);
    height: 100%;
}
/* end  block of opacity style */

/* pagination block */
.slider__pagination{
    height:200px;
}
.paginationImageBlock{
    height:100px;
    width: 200px;
}
/* end  pagination block */


/* end  footer slider block */